src/main/xsd/schemas/user-data.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/userrequest"
           xmlns="http://example.com/userrequest"
           elementFormDefault="qualified">

    <xs:element name="UserDataRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="age" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
